
/* PRESETS */
* {
	font-family: 'Roboto', sans-serif !important;
}
.container-fluid{
	padding: 0;
	overflow: hidden;
}
.row {
	margin-right: 0;
}

/* REUSABLE */
.text__white{
	color: #fff;
}
.divider{
	width: 100%;
	height: .5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-color: #ccc;
	background-color: #ccc;
}
.f80{
	font-size: 80% !important;
}
a:link,
a:hover,
a:active,
a:visited{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
/* --------------------------------- */
/* Main Content -------Starts */
/* --------------------------------- */
/* Navigation */
.navbar-logo{
	margin-right: 1.2rem;
}
.navbar-brand{
	font-size: 2rem;
	text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 1.2rem;
}
/* Section: Hero */
.hero{
	position: relative;
	height: 35rem;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/assets/imgs/img2.jpg');
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: cover;
	background-origin: content-box;
	background-clip: border-box;
}
.hero__bc{
	position: absolute;
	bottom: 2.5rem;
	left:42%;
}
.hero__title{
	font-size: 4rem;
}
/* Section: Search */
.search__label{
	font-size: 1.5rem;
	margin-right: 1rem;
}
/* Section: Event list */
.event__list{
	background-color: #ddd;
}
.event__list p{
	margin-bottom: 0;
}
.event__image img{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.event__title{
	font-size: 2rem;
}
/* Section: Footer */

.footer__menu .nav-link {
	padding: 0;
}

.newsletter__form{
	width: 90%;
	background-color: #ddd;
}


/* --------------------------------- */
/* Page: Event  -------Starts */
/* --------------------------------- */
/* --------------------------------- */
.event.hero{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/assets/imgs/img2.jpg');
}
/* Page: Event -------Ends */
/* --------------------------------- */
/* --------------------------------- */
/* Page: Event Single -------Starts */
/* --------------------------------- */
.event__single.hero{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/assets/imgs/img1.jpg');
}
.hero  .hero__bc2{
	position: absolute;
	bottom:20%;
	left:35%;
}
.c2a{
	background-color: #ddd;
}
.c2a__social li{
	border-radius: 50%;
	margin: 0.4rem;
	padding: 0.5rem;
	background-color: #6c757d;
	border:1px solid #6c757d;
	
}
.c2a__social li:hover{
	background-color: #5a6268;
	border:1px solid #5a6268;
}
.c2a__social .nav-link{
	padding: unset;
	color: #fff;
	font-size: 1.2rem;
}
/* --------------------------------- */
/* Page: Event Single -------Ends */
/* --------------------------------- */

/* --------------------------------- */
/* Page: Event Registration -------Starts */
/* --------------------------------- */
.form-border{
	padding: 1.2rem;
	border: 1px solid #eaeaea;
}
/* --------------------------------- */
/* Page: Event RegistrationSingle -------Ends */
/* --------------------------------- */

/* --------------------------------- */
/* Main Content -------Ends */
/* --------------------------------- */